.vs/NetCoreMicroserviceDemo/DesignTimeBuild/.dtbcache
.vs/NetCoreMicroserviceDemo/DesignTimeBuild/.dtbcache.v2
.vs/NetCoreMicroserviceDemo/config/applicationhost.config
.vs/NetCoreMicroserviceDemo/v15/.suo
.vs/NetCoreMicroserviceDemo/v15/Server/sqlite3/db.lock
.vs/NetCoreMicroserviceDemo/v15/Server/sqlite3/storage.ide
.vs/NetCoreMicroserviceDemo/v15/Server/sqlite3/storage.ide-shm
.vs/NetCoreMicroserviceDemo/v15/Server/sqlite3/storage.ide-wal
.vs/NetCoreMicroserviceDemo/v16/.suo
Order.API/bin/Debug/netcoreapp3.1/appsettings.Development.json
Order.API/bin/Debug/netcoreapp3.1/appsettings.json
Order.API/bin/Debug/netcoreapp3.1/Order.API.deps.json
Order.API/bin/Debug/netcoreapp3.1/Order.API.dll
Order.API/bin/Debug/netcoreapp3.1/Order.API.exe
Order.API/bin/Debug/netcoreapp3.1/Order.API.pdb
Order.API/bin/Debug/netcoreapp3.1/Order.API.runtimeconfig.dev.json
Order.API/bin/Debug/netcoreapp3.1/Order.API.runtimeconfig.json
Order.API/obj/Order.API.csproj.nuget.cache
Order.API/obj/Order.API.csproj.nuget.dgspec.json
Order.API/obj/Order.API.csproj.nuget.g.props
Order.API/obj/Order.API.csproj.nuget.g.targets
Order.API/obj/project.assets.json
Order.API/obj/project.nuget.cache
Order.API/obj/Container/ContainerDevelopmentMode.cache
Order.API/obj/Container/ContainerId.cache
Order.API/obj/Container/ContainerName.cache
Order.API/obj/Container/ContainerRunContext.cache
Order.API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Order.API/obj/Debug/netcoreapp3.1/apphost.exe
Order.API/obj/Debug/netcoreapp3.1/Order.API.AssemblyInfo.cs
Order.API/obj/Debug/netcoreapp3.1/Order.API.AssemblyInfoInputs.cache
Order.API/obj/Debug/netcoreapp3.1/Order.API.assets.cache
Order.API/obj/Debug/netcoreapp3.1/Order.API.csproj.AssemblyReference.cache
Order.API/obj/Debug/netcoreapp3.1/Order.API.csproj.CoreCompileInputs.cache
Order.API/obj/Debug/netcoreapp3.1/Order.API.csproj.FileListAbsolute.txt
Order.API/obj/Debug/netcoreapp3.1/Order.API.dll
Order.API/obj/Debug/netcoreapp3.1/Order.API.genruntimeconfig.cache
Order.API/obj/Debug/netcoreapp3.1/Order.API.MvcApplicationPartsAssemblyInfo.cache
Order.API/obj/Debug/netcoreapp3.1/Order.API.pdb
Order.API/obj/Debug/netcoreapp3.1/Order.API.RazorTargetAssemblyInfo.cache
Order.API/obj/Debug/netcoreapp3.1/project.razor.json
Order.API/obj/Debug/netcoreapp3.1/staticwebassets/Order.API.StaticWebAssets.Manifest.cache
Order.API/obj/Debug/netcoreapp3.1/staticwebassets/Order.API.StaticWebAssets.xml
Product.API/bin/Debug/netcoreapp3.1/appsettings.Development.json
Product.API/bin/Debug/netcoreapp3.1/appsettings.json
Product.API/bin/Debug/netcoreapp3.1/Product.API.deps.json
Product.API/bin/Debug/netcoreapp3.1/Product.API.dll
Product.API/bin/Debug/netcoreapp3.1/Product.API.exe
Product.API/bin/Debug/netcoreapp3.1/Product.API.pdb
Product.API/bin/Debug/netcoreapp3.1/Product.API.runtimeconfig.dev.json
Product.API/bin/Debug/netcoreapp3.1/Product.API.runtimeconfig.json
Product.API/obj/Product.API.csproj.nuget.dgspec.json
Product.API/obj/Product.API.csproj.nuget.g.props
Product.API/obj/Product.API.csproj.nuget.g.targets
Product.API/obj/project.assets.json
Product.API/obj/project.nuget.cache
Product.API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Product.API/obj/Debug/netcoreapp3.1/apphost.exe
Product.API/obj/Debug/netcoreapp3.1/Product.API.AssemblyInfo.cs
Product.API/obj/Debug/netcoreapp3.1/Product.API.AssemblyInfoInputs.cache
Product.API/obj/Debug/netcoreapp3.1/Product.API.assets.cache
Product.API/obj/Debug/netcoreapp3.1/Product.API.csproj.AssemblyReference.cache
Product.API/obj/Debug/netcoreapp3.1/Product.API.csproj.CoreCompileInputs.cache
Product.API/obj/Debug/netcoreapp3.1/Product.API.csproj.FileListAbsolute.txt
Product.API/obj/Debug/netcoreapp3.1/Product.API.dll
Product.API/obj/Debug/netcoreapp3.1/Product.API.genruntimeconfig.cache
Product.API/obj/Debug/netcoreapp3.1/Product.API.MvcApplicationPartsAssemblyInfo.cache
Product.API/obj/Debug/netcoreapp3.1/Product.API.pdb
Product.API/obj/Debug/netcoreapp3.1/Product.API.RazorTargetAssemblyInfo.cache
Product.API/obj/Debug/netcoreapp3.1/staticwebassets/Product.API.StaticWebAssets.Manifest.cache
Product.API/obj/Debug/netcoreapp3.1/staticwebassets/Product.API.StaticWebAssets.xml
NetCoreDemoService/bin/Debug/netcoreapp3.1/NetCoreDemoService.deps.json
NetCoreDemoService/bin/Debug/netcoreapp3.1/NetCoreDemoService.dll
NetCoreDemoService/bin/Debug/netcoreapp3.1/NetCoreDemoService.pdb
NetCoreDemoService/obj/NetCoreDemoService.csproj.nuget.dgspec.json
NetCoreDemoService/obj/NetCoreDemoService.csproj.nuget.g.props
NetCoreDemoService/obj/NetCoreDemoService.csproj.nuget.g.targets
NetCoreDemoService/obj/project.assets.json
NetCoreDemoService/obj/project.nuget.cache
NetCoreDemoService/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
NetCoreDemoService/obj/Debug/netcoreapp3.1/NetCoreDemoService.AssemblyInfo.cs
NetCoreDemoService/obj/Debug/netcoreapp3.1/NetCoreDemoService.AssemblyInfoInputs.cache
NetCoreDemoService/obj/Debug/netcoreapp3.1/NetCoreDemoService.assets.cache
NetCoreDemoService/obj/Debug/netcoreapp3.1/NetCoreDemoService.csproj.CoreCompileInputs.cache
NetCoreDemoService/obj/Debug/netcoreapp3.1/NetCoreDemoService.csproj.FileListAbsolute.txt
NetCoreDemoService/obj/Debug/netcoreapp3.1/NetCoreDemoService.dll
NetCoreDemoService/obj/Debug/netcoreapp3.1/NetCoreDemoService.pdb
Product.API/bin/Debug/netcoreapp3.1/Consul.dll
Product.API/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
Product.API/obj/Debug/netcoreapp3.1/Product.API.csproj.CopyComplete
Order.API/bin/Debug/netcoreapp3.1/Consul.dll
Order.API/bin/Debug/netcoreapp3.1/NetCoreDemoService.dll
Order.API/bin/Debug/netcoreapp3.1/NetCoreDemoService.pdb
Order.API/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
Order.API/obj/Debug/netcoreapp3.1/Order.API.csproj.CopyComplete
