.vs/NetCoreMicroserviceDemo/DesignTimeBuild/.dtbcache
.vs/NetCoreMicroserviceDemo/DesignTimeBuild/.dtbcache.v2
.vs/NetCoreMicroserviceDemo/config/applicationhost.config
.vs/NetCoreMicroserviceDemo/v15/.suo
.vs/NetCoreMicroserviceDemo/v15/Server/sqlite3/db.lock
.vs/NetCoreMicroserviceDemo/v15/Server/sqlite3/storage.ide
.vs/NetCoreMicroserviceDemo/v15/Server/sqlite3/storage.ide-shm
.vs/NetCoreMicroserviceDemo/v15/Server/sqlite3/storage.ide-wal
.vs/NetCoreMicroserviceDemo/v16/.suo
Order.API/bin/Debug/netcoreapp3.1/appsettings.Development.json
Order.API/bin/Debug/netcoreapp3.1/appsettings.json
Order.API/bin/Debug/netcoreapp3.1/Order.API.deps.json
Order.API/bin/Debug/netcoreapp3.1/Order.API.dll
Order.API/bin/Debug/netcoreapp3.1/Order.API.exe
Order.API/bin/Debug/netcoreapp3.1/Order.API.pdb
Order.API/bin/Debug/netcoreapp3.1/Order.API.runtimeconfig.dev.json
Order.API/bin/Debug/netcoreapp3.1/Order.API.runtimeconfig.json
Order.API/obj/Order.API.csproj.nuget.cache
Order.API/obj/Order.API.csproj.nuget.dgspec.json
Order.API/obj/Order.API.csproj.nuget.g.props
Order.API/obj/Order.API.csproj.nuget.g.targets
Order.API/obj/project.assets.json
Order.API/obj/project.nuget.cache
Order.API/obj/Container/ContainerDevelopmentMode.cache
Order.API/obj/Container/ContainerId.cache
Order.API/obj/Container/ContainerName.cache
Order.API/obj/Container/ContainerRunContext.cache
Order.API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Order.API/obj/Debug/netcoreapp3.1/apphost.exe
Order.API/obj/Debug/netcoreapp3.1/Order.API.AssemblyInfo.cs
Order.API/obj/Debug/netcoreapp3.1/Order.API.AssemblyInfoInputs.cache
Order.API/obj/Debug/netcoreapp3.1/Order.API.assets.cache
Order.API/obj/Debug/netcoreapp3.1/Order.API.csproj.AssemblyReference.cache
Order.API/obj/Debug/netcoreapp3.1/Order.API.csproj.CoreCompileInputs.cache
Order.API/obj/Debug/netcoreapp3.1/Order.API.csproj.FileListAbsolute.txt
Order.API/obj/Debug/netcoreapp3.1/Order.API.dll
Order.API/obj/Debug/netcoreapp3.1/Order.API.genruntimeconfig.cache
Order.API/obj/Debug/netcoreapp3.1/Order.API.MvcApplicationPartsAssemblyInfo.cache
Order.API/obj/Debug/netcoreapp3.1/Order.API.pdb
Order.API/obj/Debug/netcoreapp3.1/Order.API.RazorTargetAssemblyInfo.cache
Order.API/obj/Debug/netcoreapp3.1/project.razor.json
Order.API/obj/Debug/netcoreapp3.1/staticwebassets/Order.API.StaticWebAssets.Manifest.cache
Order.API/obj/Debug/netcoreapp3.1/staticwebassets/Order.API.StaticWebAssets.xml
Product.API/bin/Debug/netcoreapp3.1/appsettings.Development.json
Product.API/bin/Debug/netcoreapp3.1/appsettings.json
Product.API/bin/Debug/netcoreapp3.1/Product.API.deps.json
Product.API/bin/Debug/netcoreapp3.1/Product.API.dll
Product.API/bin/Debug/netcoreapp3.1/Product.API.exe
Product.API/bin/Debug/netcoreapp3.1/Product.API.pdb
Product.API/bin/Debug/netcoreapp3.1/Product.API.runtimeconfig.dev.json
Product.API/bin/Debug/netcoreapp3.1/Product.API.runtimeconfig.json
Product.API/obj/Product.API.csproj.nuget.dgspec.json
Product.API/obj/Product.API.csproj.nuget.g.props
Product.API/obj/Product.API.csproj.nuget.g.targets
Product.API/obj/project.assets.json
Product.API/obj/project.nuget.cache
Product.API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Product.API/obj/Debug/netcoreapp3.1/apphost.exe
Product.API/obj/Debug/netcoreapp3.1/Product.API.AssemblyInfo.cs
Product.API/obj/Debug/netcoreapp3.1/Product.API.AssemblyInfoInputs.cache
Product.API/obj/Debug/netcoreapp3.1/Product.API.assets.cache
Product.API/obj/Debug/netcoreapp3.1/Product.API.csproj.AssemblyReference.cache
Product.API/obj/Debug/netcoreapp3.1/Product.API.csproj.CoreCompileInputs.cache
Product.API/obj/Debug/netcoreapp3.1/Product.API.csproj.FileListAbsolute.txt
Product.API/obj/Debug/netcoreapp3.1/Product.API.dll
Product.API/obj/Debug/netcoreapp3.1/Product.API.genruntimeconfig.cache
Product.API/obj/Debug/netcoreapp3.1/Product.API.MvcApplicationPartsAssemblyInfo.cache
Product.API/obj/Debug/netcoreapp3.1/Product.API.pdb
Product.API/obj/Debug/netcoreapp3.1/Product.API.RazorTargetAssemblyInfo.cache
Product.API/obj/Debug/netcoreapp3.1/staticwebassets/Product.API.StaticWebAssets.Manifest.cache
Product.API/obj/Debug/netcoreapp3.1/staticwebassets/Product.API.StaticWebAssets.xml
NetCoreDemoService/bin/Debug/netcoreapp3.1/NetCoreDemoService.deps.json
NetCoreDemoService/bin/Debug/netcoreapp3.1/NetCoreDemoService.dll
NetCoreDemoService/bin/Debug/netcoreapp3.1/NetCoreDemoService.pdb
NetCoreDemoService/obj/NetCoreDemoService.csproj.nuget.dgspec.json
NetCoreDemoService/obj/NetCoreDemoService.csproj.nuget.g.props
NetCoreDemoService/obj/NetCoreDemoService.csproj.nuget.g.targets
NetCoreDemoService/obj/project.assets.json
NetCoreDemoService/obj/project.nuget.cache
NetCoreDemoService/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
NetCoreDemoService/obj/Debug/netcoreapp3.1/NetCoreDemoService.AssemblyInfo.cs
NetCoreDemoService/obj/Debug/netcoreapp3.1/NetCoreDemoService.AssemblyInfoInputs.cache
NetCoreDemoService/obj/Debug/netcoreapp3.1/NetCoreDemoService.assets.cache
NetCoreDemoService/obj/Debug/netcoreapp3.1/NetCoreDemoService.csproj.CoreCompileInputs.cache
NetCoreDemoService/obj/Debug/netcoreapp3.1/NetCoreDemoService.csproj.FileListAbsolute.txt
NetCoreDemoService/obj/Debug/netcoreapp3.1/NetCoreDemoService.dll
NetCoreDemoService/obj/Debug/netcoreapp3.1/NetCoreDemoService.pdb
Product.API/bin/Debug/netcoreapp3.1/Consul.dll
Product.API/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
Product.API/obj/Debug/netcoreapp3.1/Product.API.csproj.CopyComplete
Order.API/bin/Debug/netcoreapp3.1/Consul.dll
Order.API/bin/Debug/netcoreapp3.1/NetCoreDemoService.dll
Order.API/bin/Debug/netcoreapp3.1/NetCoreDemoService.pdb
Order.API/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
Order.API/obj/Debug/netcoreapp3.1/Order.API.csproj.CopyComplete
NetCoreDemoService/obj/Debug/netcoreapp3.1/NetCoreDemoService.csproj.AssemblyReference.cache
Web.MVC/bin/Debug/netcoreapp3.1/appsettings.Development.json
Web.MVC/bin/Debug/netcoreapp3.1/appsettings.json
Web.MVC/bin/Debug/netcoreapp3.1/RestSharp.dll
Web.MVC/bin/Debug/netcoreapp3.1/System.Text.Json.dll
Web.MVC/bin/Debug/netcoreapp3.1/Web.MVC.deps.json
Web.MVC/bin/Debug/netcoreapp3.1/Web.MVC.dll
Web.MVC/bin/Debug/netcoreapp3.1/Web.MVC.exe
Web.MVC/bin/Debug/netcoreapp3.1/Web.MVC.pdb
Web.MVC/bin/Debug/netcoreapp3.1/Web.MVC.runtimeconfig.dev.json
Web.MVC/bin/Debug/netcoreapp3.1/Web.MVC.runtimeconfig.json
Web.MVC/bin/Debug/netcoreapp3.1/Web.MVC.Views.dll
Web.MVC/bin/Debug/netcoreapp3.1/Web.MVC.Views.pdb
Web.MVC/obj/project.assets.json
Web.MVC/obj/project.nuget.cache
Web.MVC/obj/Web.MVC.csproj.nuget.dgspec.json
Web.MVC/obj/Web.MVC.csproj.nuget.g.props
Web.MVC/obj/Web.MVC.csproj.nuget.g.targets
Web.MVC/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Web.MVC/obj/Debug/netcoreapp3.1/apphost.exe
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.AssemblyInfo.cs
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.AssemblyInfoInputs.cache
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.assets.cache
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.csproj.AssemblyReference.cache
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.csproj.CopyComplete
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.csproj.CoreCompileInputs.cache
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.csproj.FileListAbsolute.txt
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.dll
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.genruntimeconfig.cache
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.MvcApplicationPartsAssemblyInfo.cache
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.pdb
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.RazorAssemblyInfo.cache
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.RazorAssemblyInfo.cs
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.RazorCoreGenerate.cache
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.RazorTargetAssemblyInfo.cache
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.RazorTargetAssemblyInfo.cs
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.TagHelpers.input.cache
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.TagHelpers.output.cache
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.Views.dll
Web.MVC/obj/Debug/netcoreapp3.1/Web.MVC.Views.pdb
Web.MVC/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
Web.MVC/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
Web.MVC/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
Web.MVC/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
Web.MVC/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
Web.MVC/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
Web.MVC/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
Web.MVC/obj/Debug/netcoreapp3.1/staticwebassets/Web.MVC.StaticWebAssets.Manifest.cache
Web.MVC/obj/Debug/netcoreapp3.1/staticwebassets/Web.MVC.StaticWebAssets.xml
