.vs/NetCoreMicroserviceDemo/DesignTimeBuild/.dtbcache
.vs/NetCoreMicroserviceDemo/DesignTimeBuild/.dtbcache.v2
.vs/NetCoreMicroserviceDemo/config/applicationhost.config
.vs/NetCoreMicroserviceDemo/v15/.suo
.vs/NetCoreMicroserviceDemo/v15/Server/sqlite3/db.lock
.vs/NetCoreMicroserviceDemo/v15/Server/sqlite3/storage.ide
.vs/NetCoreMicroserviceDemo/v15/Server/sqlite3/storage.ide-shm
.vs/NetCoreMicroserviceDemo/v15/Server/sqlite3/storage.ide-wal
.vs/NetCoreMicroserviceDemo/v16/.suo
Order.API/bin/Debug/netcoreapp3.1/appsettings.Development.json
Order.API/bin/Debug/netcoreapp3.1/appsettings.json
Order.API/bin/Debug/netcoreapp3.1/Order.API.deps.json
Order.API/bin/Debug/netcoreapp3.1/Order.API.dll
Order.API/bin/Debug/netcoreapp3.1/Order.API.exe
Order.API/bin/Debug/netcoreapp3.1/Order.API.pdb
Order.API/bin/Debug/netcoreapp3.1/Order.API.runtimeconfig.dev.json
Order.API/bin/Debug/netcoreapp3.1/Order.API.runtimeconfig.json
Order.API/obj/Order.API.csproj.nuget.cache
Order.API/obj/Order.API.csproj.nuget.dgspec.json
Order.API/obj/Order.API.csproj.nuget.g.props
Order.API/obj/Order.API.csproj.nuget.g.targets
Order.API/obj/project.assets.json
Order.API/obj/project.nuget.cache
Order.API/obj/Container/ContainerDevelopmentMode.cache
Order.API/obj/Container/ContainerId.cache
Order.API/obj/Container/ContainerName.cache
Order.API/obj/Container/ContainerRunContext.cache
Order.API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Order.API/obj/Debug/netcoreapp3.1/apphost.exe
Order.API/obj/Debug/netcoreapp3.1/Order.API.AssemblyInfo.cs
Order.API/obj/Debug/netcoreapp3.1/Order.API.AssemblyInfoInputs.cache
Order.API/obj/Debug/netcoreapp3.1/Order.API.assets.cache
Order.API/obj/Debug/netcoreapp3.1/Order.API.csproj.AssemblyReference.cache
Order.API/obj/Debug/netcoreapp3.1/Order.API.csproj.CoreCompileInputs.cache
Order.API/obj/Debug/netcoreapp3.1/Order.API.csproj.FileListAbsolute.txt
Order.API/obj/Debug/netcoreapp3.1/Order.API.dll
Order.API/obj/Debug/netcoreapp3.1/Order.API.genruntimeconfig.cache
Order.API/obj/Debug/netcoreapp3.1/Order.API.MvcApplicationPartsAssemblyInfo.cache
Order.API/obj/Debug/netcoreapp3.1/Order.API.pdb
Order.API/obj/Debug/netcoreapp3.1/Order.API.RazorTargetAssemblyInfo.cache
Order.API/obj/Debug/netcoreapp3.1/project.razor.json
Order.API/obj/Debug/netcoreapp3.1/staticwebassets/Order.API.StaticWebAssets.Manifest.cache
Order.API/obj/Debug/netcoreapp3.1/staticwebassets/Order.API.StaticWebAssets.xml
